* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    background: #ffe6aa;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    color: black;
    padding: 8px 16px;
}

.logo .grup {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu {
    display: flex;
}

.menu a {
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menuToggle {
    display: none;
}

.container {
    height: 1000px;
    width: 100%;
    background-color: antiquewhite;
    padding-top: 66px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        text-align: left;
        flex-direction: column;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s;
    }

    .menu a {
        padding: 16px;
    }

    .menu a:first-child {
        border-top: 1px solid brown;
    }

    .logo {
        width: 100%;
        justify-content: space-between;
    }

    #menuToggle:checked+.menu {
        height: 252px;
    }

    .menuToggle {
        display: block;
    }
}